#side_menu{
  margin:0vh 0 0 5vw;
  left:5vw;
  width: 15vw;
  display:block;
  transition: top 0.2s;
  height: 90vh;
  float: left;
}
.search_prod{
  width: 40vw;
  height: 7vh;
  text-align: center;
  border:1px solid black;
  border-radius: 20px;
  margin:5vh 0 0 18.5vw;
  float: left;
}
.search_prod input{
  width: 85%;
  height: 5vh;
  margin:1vh 0 0 0.3vw;
  font-size:1.4vw;
  border: none;
  transition: 2s;
  outline:0;
  background-color: white;
  z-index: -1;
}
.search_prod i{
  font-size:2vw;
  z-index: 1;
  cursor: pointer;
}
.select_section{
  height: 12vh;
  width: 15vw;
  margin:5vh 0 0 0;
  transition: 1s;
}
.select_section select{
  font-size: 1.6vw;
  width: 100%;
  height: 6vh;
  outline:0;
  border-radius: 10px;
}

.select_sorting{
  height: 6vh;
  width: 15vw;
  margin:6vh 0 0 0;
  transition: 1s;
}
.select_sorting select{
  font-size: 1.6vw;
  width: 100%;
  height: 6vh;
  outline:0;
  border-radius: 10px;
}
.price{
  height: 6vh;
  width: 100%;
  margin-top: 10vh;
}
.price input{
  text-align: center;
  border-radius: 10px;
  margin-left: 1.5vw;
  outline:0;
  height: 5vh;
  width: 35%;
}
.category{
  margin:5vh 0 0 0 ;
  width: 100%;
  font-size: 1.7vw;
}
.category select{
  font-size: 1.6vw;
  width: 100%;
  height: 6vh;
  outline:0;
  border-radius: 10px;
}
.product_gallery{
  width: 70vw;
  background: red;
  margin-left: 24vw;
}
.gallery_img{
  height: 50vh;
  width: 15vw;
  margin: 5vh 0 0 6vw;
  float: left;
  overflow:hidden;
  text-align: center;
  transition: 0.5s;
  -webkit-box-shadow: 0px -1px 20px -12px rgba(0,0,0,0.75);
}
.gallery_img img{
  border:0.5px solid lightgray;
  height: 40vh;
  width: 15vw;
}
.gallery_img:hover{
  -webkit-box-shadow: 5px 5px 16px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 16px -4px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 16px -5px rgba(0,0,0,0.75);
}
#image_id{
 display: none;
}
#opacity_back{
  display: none;
}
html .big_black_div{
  display: none;
  position: absolute;
  left:0;
  top:10vh;
  width: 100vw;
  height:94%;
  background-color: #333;
  opacity:0.9;
}
.product_solo{
  text-align: center;
  left:37.5vw;
  top:15vh;
  height: 80vh;
  width: 25vw;
  position: fixed;
  background: #DFDFDF;
}
.product_solo img{
  height: 70vh;
  width: 25vw;
}
.product_solo button{
  background:#DFDFDF;
  border:none;
  position: absolute;
  right: 1vw;
  top: 2vh;
}
.Footer_prod{
  float: left;
  width:100vw;
  height:25vh;
  bottom:0;
  background-color: #1C1C1E;
  margin:5% 0 0 0;
  color:#F3F3F3;
  text-align: center;
}
.Footer_prod h2{
  cursor: pointer;
  display: inline-block;
  margin:2% 0 0 0;
}
.Footer_prod p {
  display: inline-block;
  float:right;
  margin: 0 1% 0% 0;
}
.Footer_prod i{
  cursor: pointer;
  font-size: 2.5vw;
  margin-left: 1%;
  transition: 1s;
}
.fb:hover{
  color:#0469DE;
}
.inst:hover{
  color:#FE5224;
}
.twitter:hover{
  color:#1C9BEA;
}
.Footer_prod h5{
  margin-left:2%;
  position: absolute;
  text-align: left;
  font-size: 0.8vw;
  letter-spacing: 4px;
}
